<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="PieChart" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/pie-chart">
        <ion-nav-view name="tab-pie-chart"></ion-nav-view>
    </ion-tab>

    <ion-tab title="LineChart" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/line-chart">
        <ion-nav-view name="tab-line-chart"></ion-nav-view>
    </ion-tab>

    <ion-tab title="BarChart" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/bar-chart">
        <ion-nav-view name="tab-bar-chart"></ion-nav-view>
    </ion-tab>
</ion-tabs>
